extends ../components/base/layout

block variables
  - const title = "Travel Retrit"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +intro({
      background: {
        src: "intro-background-main",
        format: "png",
        width: "1920",
        height: "759",
        alt: "background"
      },
      title: "Все авторские туры и&nbsp;ретриты на&nbsp;одном сайте",
      description: "Откройте для себя невероятные возможности для духовного роста и&nbsp;отдыха в&nbsp;сопровождении опытных&nbsp;мастеров и&nbsp;единомышленников в&nbsp;любой точке планеты",
      button: true
    })
    +countries([
      {
        text: "Россия",
        href: "#",
        image: {
          src: "country-russia",
          format: "png",
          width: "480",
          height: "264",
          alt: "russia"
        }
      },
      {
        text: "Мальдивы",
        href: "#",
        image: {
          src: "country-maldives",
          format: "png",
          width: "480",
          height: "264",
          alt: "maldives"
        }
      },
      {
        text: "Италия",
        href: "#",
        image: {
          src: "country-italy",
          format: "png",
          width: "480",
          height: "264",
          alt: "italy"
        }
      },
      {
        text: "Таиланд",
        href: "#",
        image: {
          src: "country-thailand",
          format: "png",
          width: "480",
          height: "264",
          alt: "thailand"
        }
      },
      {
        text: "Бали",
        href: "#",
        image: {
          src: "country-bali",
          format: "png",
          width: "480",
          height: "264",
          alt: "bali"
        }
      },
      {
        text: "Турция",
        href: "#",
        image: {
          src: "country-turkey",
          format: "png",
          width: "480",
          height: "264",
          alt: "turkey"
        }
      },
      {
        text: "Греция",
        href: "#",
        image: {
          src: "country-greece",
          format: "png",
          width: "480",
          height: "264",
          alt: "greece"
        }
      },
      {
        text: "Египет",
        href: "#",
        image: {
          src: "country-egypt",
          format: "png",
          width: "480",
          height: "264",
          alt: "egypt"
        }
      },
      {
        text: "Открыть другие страны",
        href: "#",
        image: {
          src: "country-others",
          format: "png",
          width: "480",
          height: "264",
          alt: "others"
        },
        mod: "other"
      }
    ])
  +tour-types()
  +guide()
  +popular-tours()
  +want-to-see()
  +feedback({
    title: "Задать вопрос",
    description: "После заполнения формы с&nbsp;вами свяжется наш специалист и&nbsp;проконсультирует по&nbsp;любым вопросам"
  })

block modals
