mixin feedback(data)
  section.feedback
    .feedback__background
      +picture("content/feedback", "feedback-background", "png", "1920", "575", "background")
    .container
      .feedback__wrapper
        h2.feedback__title!=data.title
        p.feedback__description!=data.description
        .feedback__form
          form(method="get")
            .feedback__form-wrapper
              +custom-input({
                inputLabel: "*Ваше имя",
                inputType: "text",
                inputName: "name"
              }).custom-input--grey.feedback__input
              +custom-input({
                inputLabel: "*Ваш телефон",
                inputType: "tel",
                inputName: "phone"
              }).custom-input--grey.feedback__input
              +custom-textarea({
                textareaLabel: "Ваш вопрос",
                textareaName: "question"
              }).custom-textarea--grey.feedback__textarea
            +btn({type: "submit", text: "Отправить"}).feedback__button
            p.feedback__text Нажимая на&nbsp;кнопку &laquo;Отправить&raquo;, Вы&nbsp;соглашаетесь с&nbsp;
              a(href="#") политикой обработки персональных данных
