mixin guide()
  section.guide
    .container
      .guide__wrapper
        h2.guide__title Travel-гид
        .guide__info-wrapper
          .guide__image-wrapper
            +picture("content/guide", "guide", "png", "350", "382", "guide")
          .guide__image-wrapper.guide__image-wrapper--tablet
            +picture("content/guide", "guide-tablet", "png", "334", "239", "guide")
          p.guide__name Александра Иванова
          +tour-count("25").guide__tour-count
          p.guide__description Я&nbsp;исколесила страну вдоль и&nbsp;поперёк, исследовала каждый уголок острова, который открывал для меня Шри-Ланку совсем с&nbsp;другой стороны. Это истинный рай на&nbsp;земле. Я&nbsp;люблю и&nbsp;знаю эту красивейшую страну. Поэтому я&nbsp;хотела создать что‑то особенное и&nbsp;увлекательное, чтобы поделиться этим с&nbsp;тобой. Чтобы показать тебе Шри-Ланку моими глазами. Так пришла идея создания авторского тура. Здесь собрано все самое любимое: проверенные комфортабельные отели, красивейшие и&nbsp;живописнейшие места, которые останутся в&nbsp;твоей памяти на&nbsp;долгие годы, ресторанчики и&nbsp;кафе с&nbsp;самой вкусной едой
          +btn({type: "button", text: "Посмотреть  все туры автора"}).guide__button
