mixin intro(data)
  section.intro
    .intro__background
      +picture("content/intro", data.background.src, data.background.format, data.background.width, data.background.height, data.background.alt)
    .container
      .intro__wrapper
        .intro__content
          h1.intro__title(class={"intro__title--medium" : currentUrl !== "index.html"})!=data.title
          if (data.description)
            p.intro__description(class={"intro__description--medium" : currentUrl !== "index.html"})!=data.description
          if (data.price)
            p.intro__price!=data.price
          if (data.button)
            +btn({type: "button", text: "Выбрать тур"}).intro__button
          if (data.form)
            .intro__form
              form(method="get")
        .intro__additional-content
          if (data.image)
            .intro__image-wrapper
              +picture("content/intro", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
          ul.intro__list
            li.intro__item
              a.intro__link(href="#")
                +icon("icon-telegram", 51, 51)
            li.intro__item
              a.intro__link(href="#")
                +icon("icon-whatsapp", 51, 51)

