mixin intro()
  section.intro
    .intro__background
      +picture("content/intro", "intro-background", "png", 1920, 759, "background")
    .container
      .intro__wrapper
        h1.intro__title Все авторские туры и&nbsp;ретриты на&nbsp;одном сайте
        p.intro__description Откройте для себя невероятные возможности для духовного роста и&nbsp;отдыха в&nbsp;сопровождении опытных мастеров и&nbsp;единомышленников в&nbsp;любой точке планеты
        +btn({type: "button", text: "Выбрать тур"}).intro__button

