mixin popular-tours()
  -
    const list = [
      {
        href: "#",
        image: {
          src: "tour-1",
          format: "png",
          width: "350",
          height: "203",
          alt: "popular tour"
        },
        title: "Мурманск, Териберка, Россия",
        description: "14 дней",
        additionalDescription: "(02-15 ноября)",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          name: "Александра",
        },
        price: "От  150 000 ₽"
      },
      {
        href: "#",
        image: {
          src: "tour-2",
          format: "png",
          width: "350",
          height: "203",
          alt: "popular tour"
        },
        title: "Шри-Ланка",
        description: "8 дней",
        additionalDescription: "(02-15 ноября)",
        guideInfo: {
          image: {
            src: "user-image-2",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          name: "Владимир",
        },
        price: "От  150 000 ₽"
      },
      {
        href: "#",
        image: {
          src: "tour-3",
          format: "png",
          width: "350",
          height: "203",
          alt: "popular tour"
        },
        title: "Турция",
        description: "14 дней",
        additionalDescription: "(02-15 ноября)",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          name: "Александра",
        },
        price: "От  150 000 ₽"
      },
      {
        href: "#",
        image: {
          src: "tour-4",
          format: "png",
          width: "350",
          height: "203",
          alt: "popular tour"
        },
        title: "Египет",
        description: "5 дней",
        additionalDescription: "(02-15 ноября)",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          name: "Александра",
        },
        price: "От  150 000 ₽"
      },
      {
        href: "#",
        image: {
          src: "tour-1",
          format: "png",
          width: "350",
          height: "203",
          alt: "popular tour"
        },
        title: "Мурманск, Териберка, Россия",
        description: "14 дней",
        additionalDescription: "(02-15 ноября)",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          name: "Александра",
        },
        price: "От  150 000 ₽"
      },
      {
        href: "#",
        image: {
          src: "tour-2",
          format: "png",
          width: "350",
          height: "203",
          alt: "popular tour"
        },
        title: "Шри-Ланка",
        description: "8 дней",
        additionalDescription: "(02-15 ноября)",
        guideInfo: {
          image: {
            src: "user-image-2",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          name: "Владимир",
        },
        price: "От  150 000 ₽"
      },
      {
        href: "#",
        image: {
          src: "tour-3",
          format: "png",
          width: "350",
          height: "203",
          alt: "popular tour"
        },
        title: "Турция",
        description: "14 дней",
        additionalDescription: "(02-15 ноября)",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          name: "Александра",
        },
        price: "От  150 000 ₽"
      },
      {
        href: "#",
        image: {
          src: "tour-4",
          format: "png",
          width: "350",
          height: "203",
          alt: "popular tour"
        },
        title: "Египет",
        description: "5 дней",
        additionalDescription: "(02-15 ноября)",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          name: "Александра",
        },
        price: "От  150 000 ₽"
      }
    ]

  section.popular-tours
    .container
      .popular-tours__wrapper
        h2.popular-tours__title Популярные туры
        +slider-controls()(data-slider-controls="popular-tours")
        .popular-tours__slider.swiper(data-slider="popular-tours")
          ul.popular-tours__list.swiper-wrapper
            each item in list
              li.popular-tours__item.swiper-slide
                +tour-card(item)
          .slider-pagination.swiper-pagination

