mixin reviews()
  -
    const list = [
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Александра",
        },
        name: "Елена Степанова",
        date: "Май, 2023",
        text: "Это не&nbsp;первый авторский групповой тур и&nbsp;мне есть с&nbsp;чем сравнить, поэтому я&nbsp;хочу выразить благодарность Александре, которая занимается организацией и&nbsp;сделала такой замечательный тур! С&nbsp;какой продуманностью, вниманием, заботой и&nbsp;отношением она к&nbsp;этому подходит, настоящий пример для многих организаторов.Шри Ланка конечно прекрасна, но&nbsp;все наше приключение в&nbsp;целом конечно зависело от&nbsp;Александры! И&nbsp;мы&nbsp;все успели, были на&nbsp;всех локациях, которые были заявлены и&nbsp;логистика очень хорошо продумана.Она сопровождала нас везде и&nbsp;всегда была на&nbsp;связи и&nbsp;встречала и&nbsp;провожала и&nbsp;дарила подарочки) И&nbsp;до&nbsp;поездки постоянно напоминала, что нужно взять, как подготовиться и&nbsp;что нас ждет.Мне очень понравилась наша поездка, были и&nbsp;храмы и&nbsp;джунгли и&nbsp;пляжи, море впечатлений!"
      },
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-2",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Владимир",
        },
        name: "Иван Владимиров",
        date: "Август, 2023",
        text: "Отличный, очень грамотно составленный тур. Мы&nbsp;получили множество положительных эмоций и&nbsp;впечатлений. Огромное спасибо Александре, Санджаю и&nbsp;всем, кто принимал участие в&nbsp;организации этого удивительного путешествия"
      },
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Александра",
        },
        name: "Елена Степанова",
        date: "Май, 2023",
        text: "Отличное путешествие.Организация тура выше всяких похвал-все переезды.экскурсии организованы четко и&nbsp;без потерь времени.Все отели,где мы&nbsp;останавливались вполне комфортабельны.Особенно поразил отель в&nbsp;джуглях-очень калорийный и&nbsp;прекрасный-не забудется никогда.Прекрасные экскурсии-такие как рафтинг и&nbsp;высокогорный поезд дали порцию адреналина на&nbsp;неделю.Сафари в&nbsp;дикой природе-это дикие звери в&nbsp;своем мире-крокодилы .кабаны, доже леопард!!!"
      },
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-2",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Владимир",
        },
        name: "Иван Владимиров",
        date: "Август, 2023",
        text: "Отличный, очень грамотно составленный тур. Мы&nbsp;получили множество положительных эмоций и&nbsp;впечатлений. Огромное спасибо Александре, Санджаю и&nbsp;всем, кто принимал участие в&nbsp;организации этого удивительного путешествия"
      },
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Александра",
        },
        name: "Елена Степанова",
        date: "Май, 2023",
        text: "Это не&nbsp;первый авторский групповой тур и&nbsp;мне есть с&nbsp;чем сравнить, поэтому я&nbsp;хочу выразить благодарность Александре, которая занимается организацией и&nbsp;сделала такой замечательный тур! С&nbsp;какой продуманностью, вниманием, заботой и&nbsp;отношением она к&nbsp;этому подходит, настоящий пример для многих организаторов.Шри Ланка конечно прекрасна, но&nbsp;все наше приключение в&nbsp;целом конечно зависело от&nbsp;Александры!"
      },
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-2",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Владимир",
        },
        name: "Иван Владимиров",
        date: "Август, 2023",
        text: "Это не&nbsp;первый авторский групповой тур и&nbsp;мне есть с&nbsp;чем сравнить, поэтому я&nbsp;хочу выразить благодарность Александре, которая занимается организацией и&nbsp;сделала такой замечательный тур! С&nbsp;какой продуманностью, вниманием, заботой и&nbsp;отношением она к&nbsp;этому подходит, настоящий пример для многих организаторов.Шри Ланка конечно прекрасна, но&nbsp;все наше приключение в&nbsp;целом конечно зависело от&nbsp;Александры! И&nbsp;мы&nbsp;все успели, были на&nbsp;всех локациях, которые были заявлены и&nbsp;логистика очень хорошо продумана.Она сопровождала нас везде и&nbsp;всегда была на&nbsp;связи и&nbsp;встречала и&nbsp;провожала и&nbsp;дарила подарочки) И&nbsp;до&nbsp;поездки постоянно напоминала, что нужно взять, как подготовиться и&nbsp;что нас ждет.Мне очень понравилась наша поездка, были и&nbsp;храмы и&nbsp;джунгли и&nbsp;пляжи, море впечатлений!"
      },
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Александра",
        },
        name: "Елена Степанова",
        date: "Май, 2023",
        text: "Тур был очень гармоничный&nbsp;&mdash; активности распределены равномерно по&nbsp;всем дням, не&nbsp;было такого, когда один день сильно перегружен, а&nbsp;в&nbsp;другой наоборот делать нечего.Понравилось абсолютно все, но&nbsp;особенно хотелось&nbsp;бы выделить рафтинг и&nbsp;ночь в&nbsp;джунглях. Они оставили незабываемые ощущения"
      },
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-2",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Владимир",
        },
        name: "Иван Владимиров",
        date: "Август, 2023",
        text: "Яркое, необычно интересное и&nbsp;активное путешествие, отлично организованное и&nbsp;полное открытий каждый день. Исключительно подобранный маршрут, транспорт и&nbsp;отели"
      },
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-1",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Александра",
        },
        name: "Елена Степанова",
        date: "Май, 2023",
        text: "Это не&nbsp;первый авторский групповой тур и&nbsp;мне есть с&nbsp;чем сравнить, поэтому я&nbsp;хочу выразить благодарность Александре, которая занимается организацией и&nbsp;сделала такой замечательный тур! С&nbsp;какой продуманностью, вниманием, заботой и&nbsp;отношением она к&nbsp;этому подходит, настоящий пример для многих организаторов.Шри Ланка конечно прекрасна, но&nbsp;все наше приключение в&nbsp;целом конечно зависело от&nbsp;Александры! И&nbsp;мы&nbsp;все успели, были на&nbsp;всех локациях, которые были заявлены и&nbsp;логистика очень хорошо продумана.Она сопровождала нас везде и&nbsp;всегда была на&nbsp;связи и&nbsp;встречала и&nbsp;провожала и&nbsp;дарила подарочки) И&nbsp;до&nbsp;поездки постоянно напоминала, что нужно взять, как подготовиться и&nbsp;что нас ждет.Мне очень понравилась наша поездка, были и&nbsp;храмы и&nbsp;джунгли и&nbsp;пляжи, море впечатлений!"
      },
      {
        title: "Тур: <span>Путешествие на&nbsp;Шри&zwj;-&zwj;Ланку</span>",
        guideInfo: {
          image: {
            src: "user-image-2",
            format: "png",
            width: "49",
            height: "49",
            alt: "guide"
          },
          position: "Travel-гид",
          name: "Владимир",
        },
        name: "Иван Владимиров",
        date: "Август, 2023",
        text: "Отличный, очень грамотно составленный тур. Мы&nbsp;получили множество положительных эмоций и&nbsp;впечатлений. Огромное спасибо Александре, Санджаю и&nbsp;всем, кто принимал участие в&nbsp;организации этого удивительного путешествия"
      }
    ]

  section.reviews
    .container
      .reviews__wrapper
        h2.visually-hidden Отзывы
        ul.reviews__list
          each item in list
            li.reviews__item
              +review(item)
        +btn({type: "button", text: "Показать еще"}).reviews__button
