mixin tour-description()
  section.tour-description
    .container
      .tour-description__wrapper
        h2.tour-description__title Описание
        p.tour-description__description Наши групповые туры по&nbsp;Шри-Ланке&nbsp;&mdash; это эксклюзивные путешествия с&nbsp;глубоким погружением в&nbsp;культуру и&nbsp;историю страны. Мы&nbsp;формируем двухнедельное живое приключение, чтобы у&nbsp;тебя было достаточно времени прочувствовать страну &laquo;от&raquo; и&nbsp;&quot;до&laquo;.Мы отлично умеем создавать путешествия, а&nbsp;не&nbsp;туры. Наши поездки для тех, кто ищет драйва и&nbsp;новых ощущений, для тех, в&nbsp;ком живёт &laquo;приключенческость&raquo;. Грамотное сочетания активностей, крутых локаций и&nbsp;расслабления, а&nbsp;также духовной прокачки дарят лучшее путешествие в&nbsp;жизни наших гостей. Наш&nbsp;продукт&nbsp;&mdash; это&nbsp;не&nbsp;туры, а&nbsp;эмоции и&nbsp;впечатления.
        .tour-description__image-wrapper
          +picture("content/tour-description", "tour-image", "png", "740", "364", "tour")
