mixin tour-reviews()
  -
    const list = [
      {
        name: "Елена Степанова",
        date: "Май, 2023",
        text: "Это не&nbsp;первый авторский групповой тур и&nbsp;мне есть с&nbsp;чем сравнить, поэтому я&nbsp;хочу выразить благодарность Александре, которая занимается организацией и&nbsp;сделала такой замечательный тур! С&nbsp;какой продуманностью, вниманием, заботой и&nbsp;отношением она к&nbsp;этому подходит, настоящий пример для многих организаторов.Шри Ланка конечно прекрасна, но&nbsp;все наше приключение в&nbsp;целом конечно зависело от&nbsp;Александры! И&nbsp;мы&nbsp;все успели, были на&nbsp;всех локациях, которые были заявлены и&nbsp;логистика очень хорошо продумана.Она сопровождала нас везде и&nbsp;всегда была на&nbsp;связи и&nbsp;встречала и&nbsp;провожала и&nbsp;дарила подарочки) И&nbsp;до&nbsp;поездки постоянно напоминала, что нужно взять, как подготовиться и&nbsp;что нас ждёт.Мне очень понравилась наша поездка, были и&nbsp;храмы и&nbsp;джунгли и&nbsp;пляжи, море впечатлений!"
      },
      {
        name: "Александр Владимиров",
        date: "Июнь, 2023",
        text: "Отличный, очень грамотно составленный тур. Мы&nbsp;получили множество положительных эмоций и&nbsp;впечатлений. Огромное спасибо Александре, Санджаю и&nbsp;всем, кто принимал участие в&nbsp;организации этого удивительного путешествия"
      },
      {
        name: "Елена Степанова",
        date: "Май, 2023",
        text: "Это не&nbsp;первый авторский групповой тур и&nbsp;мне есть с&nbsp;чем сравнить, поэтому я&nbsp;хочу выразить благодарность Александре, которая занимается организацией и&nbsp;сделала такой замечательный тур! С&nbsp;какой продуманностью, вниманием, заботой и&nbsp;отношением она к&nbsp;этому подходит, настоящий пример для многих организаторов.Шри Ланка конечно прекрасна, но&nbsp;все наше приключение в&nbsp;целом конечно зависело от&nbsp;Александры! И&nbsp;мы&nbsp;все успели, были на&nbsp;всех локациях, которые были заявлены и&nbsp;логистика очень хорошо продумана.Она сопровождала нас везде и&nbsp;всегда была на&nbsp;связи и&nbsp;встречала и&nbsp;провожала и&nbsp;дарила подарочки) И&nbsp;до&nbsp;поездки постоянно напоминала, что нужно взять, как подготовиться и&nbsp;что нас ждёт.Мне очень понравилась наша поездка, были и&nbsp;храмы и&nbsp;джунгли и&nbsp;пляжи, море впечатлений!"
      },
      {
        name: "Александр Владимиров",
        date: "Июнь, 2023",
        text: "Отличный, очень грамотно составленный тур. Мы&nbsp;получили множество положительных эмоций и&nbsp;впечатлений. Огромное спасибо Александре, Санджаю и&nbsp;всем, кто принимал участие в&nbsp;организации этого удивительного путешествия"
      }
    ]

  section.tour-reviews
    .container
      .tour-reviews__wrapper
        h2.tour-reviews__title Отзывы
        .tour-reviews__content
          +slider-controls()(data-slider-controls="tour-reviews").tour-reviews__slider-controls
          +btn({type: "button", text: "Оставить отзыв"}).btn--transparent.tour-reviews__button
          .tour-reviews__slider.swiper(data-slider="tour-reviews")
            ul.tour-reviews__list.swiper-wrapper
              each item in list
                li.tour-reviews__item.swiper-slide
                  p.tour-reviews__name!=item.name
                  p.tour-reviews__date!=item.date
                  p.tour-reviews__text!=item.text
            .slider-pagination.swiper-pagination
