.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 17px 20px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  border: none;
  border-radius: 5px;
  background-color: $color-las-palmas;
  color: $color-nero;

  cursor: pointer;
  user-select: none;

  transition: background-color $trans-default;

  outline: none;

  @include vp-767 {
    padding: 13px 20px;

    font-size: 15px;
    line-height: 19px;
  }

  @include hover-focus {
    background-color: $color-pear;
  }

  &__icon {
    width: 9px;
    height: 9px;
    margin-left: 10px;

    flex-shrink: 0;

    color: $color-nero;
  }
}
