.countries {
  &__wrapper {
    padding: 70px 0;

    @include vp-1023 {
      padding: 50px 0;
    }

    @include vp-767 {
      padding: 40px 0;
    }
  }

  &__title {
    margin: 0 0 60px;

    font-weight: 500;
    font-size: 40px;
    line-height: 52px;

    color: $color-nero;

    @include vp-1023 {
      margin: 0 0 50px;

      font-size: 30px;
      line-height: 39px;
    }

    @include vp-767 {
      margin: 0 0 40px;

      font-size: 25px;
      line-height: 33px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1439 {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 20px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      column-gap: 0;
      row-gap: 0;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;

    border-radius: 10px;

    @include vp-767 {
      margin-bottom: 20px;
    }

    &:last-child {
      @include vp-767 {
        margin-bottom: 0;
      }
    }

    &--other {
      .countries__link {
        @include hover-focus {
          ~ .countries__image-wrapper::before {
            background: rgba($color-mosque-2, 0.64);
          }
        }
      }

      .countries__label {
        font-size: 25px;
        line-height: 33px;

        @include vp-1023 {
          font-size: 18px;
          line-height: 23px;
        }

        @include vp-767 {
          font-size: 16px;
          line-height: 21px;
        }
      }

      .countries__image-wrapper::before {
        background: rgba($color-pine-green, 0.64);
      }
    }
  }

  &__link {
    z-index: 2;
    position: absolute;
    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    @include hover-focus {
      ~ .countries__image-wrapper::before {
        background: linear-gradient(180deg, rgba($color-elm, 0.46) 0%, $color-black-pearl 100%);
      }
    }
  }

  &__label {
    z-index: 1;
    position: absolute;

    display: flex;
    align-items: center;

    bottom: 40px;
    left: 40px;

    margin: 0;

    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;

    color: $color-default-white;

    @include vp-1599 {
      bottom: 20px;
      left: 20px;
    }

    @include vp-1023 {
      bottom: 30px;
      left: 30px;

      font-size: 22px;
      line-height: 29px;
    }

    @include vp-767 {
      bottom: 20px;
      left: 20px;

      font-size: 18px;
      line-height: 23px;
    }

    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      width: 18px;
      height: 18px;
      margin-left: 15px;

      color: $color-las-palmas;

      @include vp-1023 {
        width: 14px;
        height: 14px;

        margin-left: 10px;
      }

      @include vp-767 {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 264px;

    border-radius: 10px;

    @include vp-1023 {
      height: 183px;
    }

    @include vp-767 {
      height: 264px;
    }

    @include vp-374 {
      height: 160px;
    }

    &::before {
      content: "";
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border-radius: 10px;
      background: linear-gradient(1deg, rgba($color-black-pearl, 0.88) 0.73%, rgba($color-persian-green, 0.13) 99.35%);

      transition: background $trans-default;
    }

    img {
      width: 100%;
      height: 264px;

      border-radius: 10px;

      object-fit: cover;

      @include vp-1023 {
        height: 183px;
      }

      @include vp-767 {
        height: 264px;
      }

      @include vp-374 {
        height: 160px;
      }
    }
  }
}
