.custom-textarea {
  position: relative;

  label {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  textarea {
    height: 100%;

    padding: 10px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    border: none;
    border-radius: 5px;
    background-color: $color-default-white;
    color: $color-nero;

    outline: none;
  }

  &__label {
    display: block;
    margin-bottom: 11px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $color-dim-gray;
  }

  &--grey {
    textarea {
      padding: 7px 16px;

      background-color: $color-white-smoke;
      color: $color-dim-gray;
    }
  }
}
