.intro {
  position: relative;
  min-height: 759px;

  border-radius: 0 0 20px 20px;

  @include vp-1023 {
    min-height: 599px;
  }

  @include vp-767 {
    min-height: 531px;
  }

  &__background {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border-radius: 0 0 20px 20px;
      background: linear-gradient(182deg, rgba($color-sherpa-blue, 0.79) 3.31%, rgba($color-mosque, 0.35) 98.41%);
    ;
    }

    img {
      width: 100%;
      height: 100%;

      border-radius: 0 0 20px 20px;

      object-fit: cover;
    }
  }

  &__wrapper {
    position: relative;

    padding: 230px 0 100px;

    @include vp-1023 {
      padding: 192px 0 80px;
    }

    @include vp-767 {
      padding: 120px 0 50px;
    }
  }

  &__title {
    max-width: 941px;
    margin: 0 0 40px;

    font-weight: 900;
    font-size: 65px;
    line-height: 71px;
    text-shadow: 0 4px 44px rgba($color-default-black, 0.42);

    color: $color-default-white;

    @include vp-1023 {
      max-width: 688px;
      margin: 0 0 30px;

      font-size: 45px;
      line-height: 49px;
    }

    @include vp-767 {
      max-width: unset;
      margin: 0 0 20px;

      font-size: 30px;
      line-height: 39px;
    }

    span {
      color: $color-summer-sky-2;
    }
  }

  &__description {
    max-width: 612px;
    margin: 0 0 100px;

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: $color-default-white;

    @include vp-1023 {
      max-width: 515px;
      margin: 0 0 70px;

      font-size: 16px;
      line-height: 24px;
    }

    @include vp-767 {
      min-height: 138px;
      margin: 0 0 40px;

      font-size: 15px;
      line-height: 22px;
    }
  }

  &__button {
    width: 449px;

    @include vp-1023 {
      width: 334px;
    }

    @include vp-767 {
      width: 100%;
    }
  }
}
