.main-nav {
  margin: 0 20px;

  @include vp-1023 {
    order: 1;

    display: flex;
    justify-content: center;
    width: 53px;
    margin: 0;
  }

  @include vp-767 {
    width: 35px;
  }

  &__toggle {
    z-index: 11;
    position: relative;
    display: none;

    width: 53px;
    height: 24px;
    margin-top: 23px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;

    @include vp-1023 {
      display: block;
    }

    @include vp-767 {
      width: 35px;
      line-height: 16px;
      margin-top: 0;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__line {
    position: absolute;

    left: 0;

    width: 100%;
    height: 2px;

    background-color: $color-default-white;

    transition: color $trans-default, transform $trans-default, opacity $trans-default, visibility $trans-default;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  &__wrapper {
    padding: 25px 50px;

    border-radius: 0 0 10px 10px;
    background: rgba($color-default-white, 0.24);
    backdrop-filter: blur(4.5px);

    @include vp-1023 {
      z-index: 10;
      position: fixed;

      top: 0;
      left: 0;

      width: 100%;
      height: 100vh;
      padding: 126px 0 30px;

      background-color: $color-default-white;

      transition: transform $trans-default;
      transform: translateX(100%);
    }

    @include vp-767 {
      padding: 126px 0 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 10px;

    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1023 {
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
      column-gap: 0;
      row-gap: 0;
      height: 100%;
      padding: 0 40px;

      overflow: auto;
    }

    @include vp-767 {
      padding: 0 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: $color-default-white;

    transition: color $trans-default;
    transform: translate3d(0, 0, 0);

    @include vp-1023 {
      justify-content: space-between;
      padding: 15px 0;

      font-size: 16px;
      line-height: 24px;

      color: $color-nero;
    }

    &::after {
      content: none;
      position: absolute;

      left: 0;
      bottom: 0;

      width: 0;
      height: 1px;

      background-color: $color-java;

      transition: width $trans-default;
    }

    &.is-active {
      color: $color-java;

      &::after {
        content: "";
        width: 100%;
      }
    }

    svg {
      display: none;

      @include vp-1023 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 14px;
        height: 14px;
        margin-left: 20px;

        color: $color-las-palmas;
      }
    }

    @include hover-focus {
      color: $color-las-palmas;
    }
  }
}
