.main-nav {
  &.is-active {
    .main-nav__toggle {
      &::before {
        top: 15px;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &::after {
        top: 13px;
        transform: rotate(45deg) translate(0, 50%);
      }
    }

    .main-nav__list {
      transform: translateX(0);
    }
  }

  &__toggle {
    z-index: 11;
    position: relative;
    display: none;

    width: 30px;
    height: 30px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;

    @include vp-767 {
      display: block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;

      left: 0;

      width: 100%;
      height: 2px;

      background-color: $color-default-white;

      transition: transform $trans-default;
    }

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 10px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-767 {
      z-index: 10;
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;

      top: 100px;
      left: 0;

      width: 100%;
      height: 100vh;
      padding: 100px 20px 20px;

      background-color: rgba($color-black-russian, 0.9);

      transition: transform $trans-default;
      transform: translateX(100%);
    }
  }

  &__item {
    margin-right: 60px;

    @include vp-1023 {
      margin-right: 30px;
    }

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &:last-child {
      margin-right: 0;

      @include vp-767 {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: block;

    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;

    color: $color-default-white;

    transition: opacity $trans-default;
    transform: translate3d(0, 0, 0);

    &.is-active {
      color: $color-summer-sky;

      pointer-events: none;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
