.review {
  height: 100%;
  padding: 30px;

  border-radius: 10px;
  box-shadow: 0 4px 17px 0 rgba($color-default-black, 0.10);

  @include vp-767 {
    padding: 30px 20px;
  }

  &__title {
    margin: 0 0 20px;

    font-weight: 700;
    font-size: 25px;
    line-height: 33px;

    color: $color-nero;

    @include vp-1023 {
      font-size: 22px;
      line-height: 29px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 23px;
    }

    span {
      font-weight: 600;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    margin: 30px 0 20px;

    @include vp-767 {
      flex-direction: column;
      align-items: flex-start;
      margin: 20px 0 20px;
    }
  }

  &__name {
    margin: 0 20px 0 0;
    padding: 7px 18px;

    font-weight: 600;
    font-size: 18px;
    line-height: 23px;

    border-radius: 5px;
    border: 2px solid $color-las-palmas;
    background-color: $color-default-white;
    color: $color-nero;

    @include vp-1023 {
      font-size: 16px;
      line-height: 21px;
    }

    @include vp-767 {
      margin: 0 0 10px;

      font-size: 15px;
      line-height: 20px;
    }
  }

  &__date {
    margin: 0;
    padding: 9px 20px;

    font-weight: 600;
    font-size: 18px;
    line-height: 23px;

    border-radius: 5px;
    border: 1px solid $color-silver;
    background-color: $color-default-white;
    color: $color-nobel-3;

    @include vp-1023 {
      font-size: 16px;
      line-height: 21px;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $color-nero;

    @include vp-767 {
      font-size: 15px;
      line-height: 23px;
    }
  }
}
