mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Туры"
      },
      {
        href: "#",
        text: "О нас"
      },
      {
        href: "#",
        text: "Организаторам"
      },
      {
        href: "#",
        text: "Отзывы"
      }
    ]

  header.header(class=headerMods data-menu)
    .container
      .header__wrapper
        if (breadcrumbs)
          +breadcrumbs(breadcrumbs)
        if (currentUrl === "index.html")
          span.header__logo
            +icon("logo", 152, 102)
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +icon("logo", 152, 102)
        nav.main-nav
          button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-menu-toggle).btn-reset.main-nav__toggle
            span.main-nav__line
            span.main-nav__line
            span.main-nav__line
          .main-nav__wrapper
            ul.main-nav__list
              each item in headerLinks
                li.main-nav__item
                  a.main-nav__link(href=item.href)!=item.text
                    +icon("icon-arrow", 14, 14)
        a.header__phone(href="tel:+7хххххххххх") +7 (ххх) ххх-хх-хх
