// Colors
// ---------------------------------

// Default

$color-default-black:           #000000;
$color-default-white:           #ffffff;
$color-transparent:             rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-nero:                    #1f1f1f;
$color-nero-2:                  #232323;
$color-teal:                    #037280;
$color-java:                    #208d9a;
$color-sherpa-blue:             #004f4b;
$color-mosque:                  #066b66;
$color-mosque-2:                #005e52;
$color-las-palmas:              #c7de2e;
$color-pear:                    #d5f021;
$color-eastern-blue:            #02919a;
$color-blue-lagoon:             #045d68;
$color-black-pearl:             #012529;
$color-persian-green:           #00aba2;
$color-elm:                     #207d79;
$color-pine-green:              #007567;
$color-cyprus:                  #013f3b;
$color-ming:                    #3a7571;
$color-surfie-green:            #007576;
$color-nobel:                   #999999;
$color-nobel-2:                 #979797;
$color-christalle:              #3d2a5c;
$color-very-light-grey:         #c8c8c8;
$color-dim-gray:                #6f6f6f;
$color-white-smoke:             #f1f1f1;

$color-black-russian:           #10101d;
$color-black-russian-2:         #2a2b30;
$color-jaguar:                  #272733;
$color-blue-zodiac:             #3d4050;
$color-summer-sky:              #43abf0;
$color-summer-sky-2:            #3e9cdc;
$color-silver:                  #c3c3c3;
$color-dolphin:                 #6f6d7b;

// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

$ff-urbanist: "Urbanist", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$tf-ease-out:                       ease-out;
$tf-ease-in:                        ease-in;
$tf-ease-in-out:                    ease-in-out;
$trans-default:                     0.3s $tf-default;
$trans-ease-out:                    0.3s $tf-ease-out;
$trans-ease-in:                     0.3s $tf-ease-in;
$trans-ease-in-out:                 0.3s $tf-ease-in-out;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;
$trans-600-ease-out:                0.6s $tf-ease-out;
$trans-600-ease-in-out:             0.6s $tf-ease-in-out;
$trans-400-ease-in-out:             0.4s $tf-ease-in-out;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1600:                           1600px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
