//- Base

include ./base/header
include ./base/footer

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

//- Blocks

include ./blocks/intro
include ./blocks/countries
include ./blocks/tour-types
include ./blocks/promo-card
include ./blocks/guides
include ./blocks/popular-tours
include ./blocks/tour-card
include ./blocks/guide-info
include ./blocks/want-to-see
include ./blocks/feedback
include ./blocks/upcoming-dates
include ./blocks/tour-description
include ./blocks/promo-video
include ./blocks/photo
include ./blocks/guide
include ./blocks/tour-reviews
include ./blocks/tour-includes
include ./blocks/tour-select
include ./blocks/tour-count
include ./blocks/reviews
include ./blocks/review
include ./blocks/select-parameters

//- Mixins

include ./mixins/btn
include ./mixins/slider-controls
include ./mixins/custom-input
include ./mixins/custom-textarea
include ./mixins/custom-select
